<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Task Manager</title>
  </head>
  <body>
    <div class="container" id="app">
      <div class="container2">
        <input
          type="text"
          class="input"
          id="goal"
          v-model="enteredValue"
          placeholder="Enter your next task..."
        />
        <button class="button" v-on:click="addGoal">Add Task</button><br />
      </div>

      <div>
        <button id="export-btn" @click="exportToTxt">Export to Text</button>
        <h2 align="center">Tasks:</h2>

        <ol>
          <li v-for="goal in goals">{{ goal }}</li>
        </ol>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
